<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pau.putrautama.gamon">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_gamon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_gamon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".ui.detailAkun.PasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".ui.detailAkun.EditAkunActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".ui.poin.PoinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".ui.riwayat.DetailHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.map.MapsActivity"
            android:label="@string/title_activity_maps" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".ui.transaksi.TransaksiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar"/>
        <activity
            android:name=".ui.map.DetailMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".ui.voucher.VoucherDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".ui.voucher.DetailVoucherUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity android:name=".ui.activity.BankDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar"/>
    </application>

</manifest>